<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV'School - Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <div class="container">

        <div class="image">
            <img src="/image-ilustrator.png" alt="Imagem de ilustração" srcset="/image-ilustrator.png">
        </div>
        

        <div class="form">
            <form action="/register" method="post">
                <h2 class="title-form">&lt;DEV<span>'</span>School<span>/</span>&gt;</h2>
                
                <div class="form-inputs">

                    <div class="row">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="username" placeholder="Usuário" id="username" required>
                    </div>
                    <div class="row">
                        <i class="fa-solid fa-at"></i>
                        <input type="email" name="email" placeholder="Email" id="email" required>
                    </div>
                    <div class="row">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="Senha" id="password" required>
                    </div>

                    <div class="row-options">   
                        <div class="input-check">
                            <input type="checkbox" name="checkInput" id="checkInput">
                            <label for="checkInput">Termos de Uso</label>
                        </div>

                        <a href="/login">Já tenho uma conta</a>
                    </div>

                </div>
                
                <div class="btn">
                    <button type="submit" class="submit-btn"> 

                        <span>Cadastrar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>